/* Definindo variáveis de cores */
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --background-color: #ffffff;
  --text-color: #333333;
  --header-footer-bg: #f4f4f4;
  --input-bg: #ffffff;
  --input-border: #cccccc;
  --strength-weak: #e74c3c;
  --strength-medium: #f39c12;
  --strength-strong: #2ecc71;
}

[data-theme='dark'] {
  --background-color: #181818;
  --text-color: #f4f4f4;
  --header-footer-bg: #282828;
  --input-bg: #333333;
  --input-border: #555555;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: var(--header-footer-bg);
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
  font-weight: 700;
}

header button {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section {
  background-color: var(--header-footer-bg);
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  transition: background-color 0.3s ease;
  padding: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-top: 0;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input,
textarea,
select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 10px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  background-color: var(--input-bg);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

/* Estilos para o grupo de inputs */
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.input-group label {
  width: 150px;
  text-align: left;
  margin-right: 1rem;
}

.input-group input[type='number'],
.input-group input[type='password'],
.input-group input[type='text'] {
  flex: 1;
}

.input-group input[type='checkbox'] {
  margin-left: auto;
}

/* Estilos para todos os botões */
button[type='button'] {
  background-color: var(--primary-color);
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button[type='button']:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--accent-color);
}

button {
  display: flex;
  align-items: center;
}

button i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

output {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

fieldset {
  margin-bottom: 1.5rem;
}

footer {
  background-color: var(--header-footer-bg);
  padding: 1rem;
  text-align: center;
}

footer p {
  margin: 0;
}

/* Animações */
.animate__animated {
  animation-duration: 1s;
}

.animate__fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Dark mode toggle */
#darkModeToggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: var(--header-footer-bg);
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

#darkModeToggle img {
  width: 24px;
  height: 24px;
}

#darkModeToggle:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Efeito de brilho no modo escuro */
[data-theme='dark'] #darkModeToggle:hover {
  box-shadow: 0 0 10px rgba(255, 255, 153, 0.5);
}

/* Barra de força */
#barraForca {
  width: 100%;
  height: 20px;
  border-radius: 4px;
  background-color: var(--input-border);
  overflow: hidden;
  margin-top: 0.5rem;
  transition: width 0.5s ease, background-color 0.5s ease;
}

#barraForca div {
  height: 100%;
  transition: width 0.5s ease-in-out;
}

#barraForca .weak {
  background: var(--strength-weak);
}

#barraForca .medium {
  background: var(--strength-medium);
}

#barraForca .strong {
  background: var(--strength-strong);
}

/* Feedback de força */
#feedbackForca {
  margin-top: 0.5rem;
  font-weight: 700;
}

#dicasForca {
  margin-top: 0.5rem;
  padding-left: 1rem;
  list-style-type: disc;
}

/* Responsividade com Media Queries */
@media (max-width: 768px) {
  #darkModeToggle {
    display: none;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 16px;
  }

  main {
    padding: 1rem;
  }

  section {
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;
  }

  h1,
  h2 {
    font-size: 1.2rem;
  }

  header h1 {
    color: var(--primary-color);
  }

  header,
  footer,
  section {
    background-color: var(
      --header-footer-bg
    );
  }

  header,
  footer,
  section {
    background-color: #282828;
  }

  input,
  textarea,
  select {
    background-color: #333333;
    border-color: #555555;
    border-radius: 8px;
  }

  button {
    width: 40%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  #barraForca {
    border-radius: 8px;
  }
}
