h1,
h2,
h3 {
  color: var(--color-primary-light);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: var(--spacing-medium);
}

h2 {
  font-size: 2rem;
  margin-bottom: var(--spacing-medium);
}

h3 {
  font-size: 1.5rem;
  margin-bottom: var(--spacing-small);
}

p {
  color: var(--color-text-secondary);
  margin-bottom: var(--spacing-medium);
}
