/* Histórico de senhas */
#listaSenhas {
  list-style: none;
}

#listaSenhas li {
  padding: var(--spacing-small);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#listaSenhas li:last-child {
  border-bottom: none;
}
