/* Formulário e inputs */
form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.input-group {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

.input-group label {
  flex: 1;
  font-weight: 500;
  color: var(--color-text-primary);
}

.input-group input[type='number'],
.input-group input[type='text'],
.input-group input[type='password'],
textarea,
select {
  padding: var(--spacing-small);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: var(--color-background);
  color: var(--color-text-primary);
  transition: border-color var(--transition-speed),
    box-shadow var(--transition-speed);
  font-size: 1rem;
  width: 100%;
}

.input-group input[type='number']:focus,
.input-group input[type='text']:focus,
.input-group input[type='password']:focus,
textarea:focus,
select:focus {
  border-color: var(--color-primary-light);
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.2);
  outline: none;
}

#senhaTeste {
  flex: 1;
  margin-right: var(--spacing-small);
  padding: var(--spacing-small);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: var(--color-background);
  color: var(--color-text-primary);
  transition: border-color var(--transition-speed),
    box-shadow var(--transition-speed);
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

#comprimentoPin {
  flex: 1;
  margin-right: var(--spacing-small);
  padding: var(--spacing-small);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: var(--color-background);
  color: var(--color-text-primary);
  transition: border-color var(--transition-speed),
    box-shadow var(--transition-speed);
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

/* Checkboxes e radios personalizados */
.input-group input[type='checkbox'],
.input-group input[type='radio'] {
  width: 20px;
  height: 20px;
  accent-color: var(--color-primary-light);
  cursor: pointer;
}
